<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="../index.html">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="../jokes/index.html">Jokes</a>
                <a class="nav-link" href="../Age_Calculator/index.html">Age Calculator</a>
                <a class="nav-link" href="../passwd_generator/index.html">Password Generator</a>
                <a class="nav-link" href="../calculator/index.html">Calculator</a>
                <a class="nav-link" href="../rubik-cube/index.html">Rubik's Cube</a>
                <a class="nav-link" href="../c2pa/index.html">Content Credentials Removal</a>
                <a class="nav-link" href="https://textutils-react-beta.vercel.app">TextUtils</a>
                <a class="nav-link" href="https://han-weatherapp.vercel.app/">Weather App</a>
                <a class="nav-link" href="https://han-news24x7.vercel.app/">News 24x7</a>
            </div>
        </div>
    </div>
</nav>