<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    <nav>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="../index.html">Home</a>
                <a class="nav-link" href="jokes/index.html">Jokes</a>
                <a class="nav-link" href="../Age_Calculator/index.html">Age Calculator</a>
                <a class="nav-link" href="../passwd_generator/index.html">Password Generator</a>
                <a class="nav-link" href="../calculator/index.html">Calculator</a>
                <a class="nav-link" href="../rubik-cube/index.html">Rubik's Cube</a>
                <a class="nav-link" href="https://textutils-react-beta.vercel.app">TextUtils</a>
                <a class="nav-link" href="https://han-weatherapp.vercel.app/">Weather App</a>
                <a class="nav-link" href="https://han-news24x7.vercel.app/">News 24x7</a>
            </div>
        </div>
    </nav>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>